*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 24px;
}

body {
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #151a22;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > *:not(:last-child){
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #fff;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.social__link {
  color: #151a22;
  transition: all 0.3s linear;
}

.social__link:hover {
  text-decoration: none;
}
